# general
alias c="clear"
alias lsa="ls -laG"

alias python="python3"

alias vim="nvim"
alias tmux="TERM=screen-256color-bce tmux"

alias dot="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"

mkcd() {
  mkdir -p -- "$1" && cd -P "$1"
}

# git
git_branch() {
  git rev-parse --abbrev-ref HEAD 2> /dev/null
}
alias gd="git diff"
alias gfo="git fetch origin"
alias gco="git checkout"
alias gf="git fetch"
alias gcom="git checkout main"
alias gcb="git checkout -b"
alias gbd="git branch -D"
alias glr="git pull origin main --rebase"
alias gss="git status -s"
alias ga.="git add . -u"
alias gp='git push origin "$(git_branch)"'
alias gpf='git push origin "$(git_branch)" --force-with-lease'
alias gl='git pull origin "$(git_branch)"'
alias gcmsg='git commit -m'
# add tracked files and commit with passed message
gcaa() {
    git add . -u
    git commit -m "$@"
}
alias cb="git rev-parse --abbrev-ref HEAD"
alias gch="git rev-parse HEAD"
alias gbdl="git for-each-ref --format '%(refname:short)' refs/heads | grep -v master | xargs git branch -D"

# php
alias cda="composer dump-autoload"
alias punit="./vendor/bin/phpunit"
alias mrs="php artisan migrate:refresh --seed"

# docker
alias di="docker images"
alias dps="docker ps"
alias dpsa="docker ps -a"
alias dcp="docker-compose ps"
alias dcu="docker-compose up -d"
alias dcb="docker-compose build"
alias dcr="docker-compose restart"
alias dcd="docker-compose down"
alias dcl="docker-compose logs"
# exec into container bash entrypoint
dce() {
    docker-compose exec "$@" bash
}

# kubectl
alias k="kubectl"

# ip addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig | grep inet"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

alias apt-up="sudo apt update && sudo apt upgrade"

alias gauth="gcloud auth login --update-adc"
alias pg-run="mage postgres & ; sleep 3 ; mage migrate seed ; fg"
alias gtok="gcloud auth print-access-token |tr -d '\n' | pbcopy"
gidtok() {
    tok=$(gcloud auth print-identity-token | tr -d '\n')
    echo -n $tok | pbcopy
    export GID_TOKEN=$tok
}